body{
    font-family: 'Shadows', sans-serif !important;
}

a#navbarDarkDropdownMenuLink {
    font-size: 12px;
}

span {
    font-size: 12px;
}

a.nav-link.dropdown-toggle.text-uppercase {
    padding: 15px;
}

li.nav-item.dropdown >a:hover{
    background-color: red;

}
.mega-columns > li > a {
    color: red;
    text-transform: uppercase;

}

.mega-columns > li > ul > li {
    list-style: none;
}

ul.navbar-nav {
    flex-wrap: wrap;
}



@media (min-width:992px) {
    .dropdown:hover .dropdown-menu{
        display: block;
      
    }

    a.nav-link.dropdown-toggle.text-uppercase {
        color: white;
    }

    .mega-columns.columns4 > li {
        display: inline-block;
        width: 100%;
    }
    .mega-columns.columns4 {
        columns: 4;
    }

    .dropdown-menu.mt-0.w-100{
        border-top-left-radius: 0!important; 
        border-top-right-radius: 0!important;
        border-top: 5px solid red!important;
        left: 0;
        }

    .navbar-nav {
    
        position: relative;
    }
    

    a.nav-link.dropdown-toggle.text-uppercase {
        color: white;
    }

    .navbar.navbar-expand-lg.navbar-dark.bg-dark.navigation.sw-megamenu {
        padding: 0;
    }

  

}


@media screen and (max-width:991px) {

    a:hover:active {
        background-color: red;
    }

    .dropdown-menu{
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        text-align: left;
        width: 100%;
    }

    li.nav-item.dropdown.position-static {
        border-bottom: 1px solid white;
        text-transform: uppercase;
    }

    ul.col-md-12.mega-columns.columns4 {
        list-style: none;
    }

    .navbar.navbar-expand-lg.navbar-dark.bg-dark.navigation.sw-megamenu {
        padding: 15;
    }

    /* .active{
        display: block!important;
    } */

    .dropdown-toggle-item + ul:not(.active) {
        display: none;
    }
 
    .dropdown-toggle-item:after {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }

}


/* Side bar(filter) */

* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  background-color: red;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: lightgray;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}


.dropdown-container {
    border: 1px solid grey;
}

.active>.filter-options-title:after{
    content: '\f820';
}

.filter-options-title:hover:after {
    background-color: #08c;
    color: #fff;
}


.filter-options-title:after {
    width: 26px;
    height: 26px;
    display: block;
    border: 1px solid #ddd;
    /* position: absolute; */
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-radius: 3px;
    color: #ccc;
    text-align: center;
    line-height: 24px;
    background-color: #fff;
    font-size: 10px;
    margin-left: 82px;
}

.filter-options-title:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    line-height: inherit;
    color: inherit;
    content: '\f823';
    font-family: 'porto-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak-as: none;
    text-align: center;
}

*, ::after, ::before {
    box-sizing: inherit;
}